#lightbox {
    display: none; 
    z-index: 1000;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto;
    background-color: rgba(0,0,0,0.8); 
}
#fixed {
    position: fixed;
}
.close {
    color: white;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 5%;
    transition: 0.2s ease-in;
    opacity: 0.7;
}
.close:hover {
    scale: 1.2;
    opacity: 1;
}
.container-image-infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 50px;
}
.bloc-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}
.container-image-infos img {
    display: flex;
    justify-content: center;
}
.arrow-prev,
.arrow-next {
    display: flex;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
} 
.arrow-prev p,
.arrow-next p {
    margin: 0 15px;
    color: white;
    font-family: 'Space Mono';
    font-size: 12px;
}
.arrow-prev:hover {
    transform: translateX(-10px) scale(1.1);
}
.arrow-next:hover {
    transform: translateX(10px) scale(1.1);
}
.arrow-prev {
    left: 2%;
}
.arrow-next {
    right: 3%;
}
.infos-title-tax {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.infos-title-tax .info-title,
.infos-title-tax .info-tax {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}


@media screen and (max-width: 1192px) {
    .arrow-prev p,
    .arrow-next p {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .bloc-image {
        margin: 0 60px;
        width: auto;
    }
}