@media screen and (max-width: 1024px) {
    .hero-header h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 920px) {
    #primary-navigation {
        padding: 10px 70px;
        justify-content: space-between;
        align-items: baseline;
    }
    .hero-header h1 {
        font-size: 60px;
        -webkit-text-stroke: 2px white;
    }
}

@media screen and (max-width: 730px) {
    .logo {
        width: 170px;
        height: 13px;
    }
    #primary-navigation {
        padding: 10px 50px;
    }
    #menu-menu-principal {
        padding: 0;
    }
    #menu-footer a {
        padding: 10px 30px;
    }

    .hero-header h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 610px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 46px;
    }
    .logo {
        width: 140px;
        height: 10px;
    }
    #menu-burger {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background: var(--red);
    }
    #menu-burger.open {
        opacity: 1;
        animation: fade-out 0.7s ease-in-out;
    }

    #btn {
        display: block;
        cursor: pointer;
    }
    #btn span {
        width: 28px;
        background: black;
        height: 2px;
        border-radius: 5px;
        display: block;
        margin-block: 5px;
        transition: 0.3s ease;
    }
    .active span {
        position: relative;
      }
    .active span:nth-child(1) {
        transform: rotate(45deg);
        top: 6px;
      }
    .active span:nth-child(2) {
        opacity: 0;
      }
    .active span:nth-child(3) {
        transform: rotate(-45deg);
        top: -7px;
      }

    #primary-navigation {
        padding: 20px 40px;
        justify-content: space-between;
        align-items: center;
    }
    #menu-menu-principal {
        display: none;
    }
    #menu-menu-principal-1 {
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    #menu-menu-principal-1 li {
    margin-bottom: 20px;
    }
    #menu-menu-principal-1 a {
        font-family: 'Space Mono';
        font-size: 44px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: 0.2s ease-in-out;
    }
    #menu-menu-principal-1 a:hover {
        font-weight: 700;
    }

    #menu-footer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0 !important;
    }
    #menu-footer li{
        padding-bottom: 15px;
    }

    .hero-header h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px white;
    }
}

@media screen and (max-width: 500px) {
    .hero-header h1 {
        font-size: 28px;
        -webkit-text-stroke: 1px white;
    }
}

/* animations */
@keyframes fade-out {
    0% {
      transform: translateY(-70px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }