.modal {
    display: none; 
    z-index: 1000;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 3px solid black;
    width: 50%;
    height: 800px;
}

.banner-header {
    width: 100%;
    padding: 20px 0 20px 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form label {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    margin-top: 20px;
}

.contact-form .wpcf7-text {
    margin: 5px 0 7px 0;
    padding-left: 10px;
    height: 40px;
}

.contact-form .wpcf7-textarea {
    height: 210px;
    margin: 5px 0 7px 0;
    padding: 10px 0 0 10px;
}

.contact-form .wpcf7-text,
.contact-form .wpcf7-textarea {
    width: 260px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: #FFF;
}

.wpcf7-submit {
    font-family: 'Space Mono', sans-serif;
    font-size: 12px;
    width: 260px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    background: #D8D8D8;
}

@media screen and (max-width: 610px) {
    .modal-content {
        width: 80%;
        height: 640px;
    }

    .banner-header {
        padding: 20px 0 0 0;
    }

    .contact-form label {
        margin-top: 0px;
    }

    .contact-form .wpcf7-text {
        width: 190px;
        margin: 4px 0 0 0;
    }

    .contact-form .wpcf7-textarea {
        height: 150px;
        width: 190px;
        margin: 4px 0 0 0;
    }

    .wpcf7-submit {
        width: 190px;
        height: 50px;
    }
}