/* roots */
html {
    margin: 0 auto !important;
}
main {
    max-width: 1440px;
    margin: auto;
}
:root {
    --red: #E00001;
    --red-light: #F65859;
    --red-powder: #FCD6D6;
    --gray-dark: #313144;
    --gray: #C4C4C4;
    --gray-light: #D8D8D8;
    --gray-powder: #E5E5E5;
}
h1 {
    font-family: 'Space Mono';
    font-size: 94px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-family: 'Space Mono';
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.description {
    font-family: 'Space Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
p {
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 2px;
    border: none;
    background-color: var(--gray-light);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    text-decoration: none;
    color: #000;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}
/*  */


/* header  */
body {
    margin: auto;
}
header {
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
#btn {
    display: none;
}
#menu-menu-principal-1 {
    display: none;
}
#menu-burger {
    z-index: 0;
}
#primary-navigation {
    max-width: 1160px;
    z-index: 100;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 150px;
    margin: auto;
}
#menu-menu-principal {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
#menu-menu-principal a {
    font-family: 'Space Mono';
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 50px;
    color: black;
}
#menu-menu-principal a:hover {
    font-weight: 700;
}
.logo {
    width: 210px;
    height: 15px;
}
/* */ 


/* footer */
#footer-navigation {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
#menu-footer {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding: 0;
    margin: 15px 0;
}
#menu-footer a {
    font-family: 'Space Mono';
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px 40px;
}
#menu-footer a:hover {
    font-weight: 700;
}
/* */ 


/* front-page hero header */
.hero-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 962px;
    max-height: 100vh;
}
#hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-header h1 {
    position: absolute;
    margin-top: 25%;
    -webkit-text-stroke: 3px white;
    color: transparent;
}
/* */


/* front-page  grid*/
.load-more {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.gallery {
    margin: 30px 150px 0 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.categories {
    display: flex;
    margin: 50px 0 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
#select-categories,
#select-formats {
    margin-right: 30px;
}
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
select {
    width: 260px;
    height: 43px;
    border-radius: 8px;
    border: 1.5px solid var(--gray);
    padding: 10px;
    cursor: pointer;
}
.selection {
    font-family: 'Poppins';
    margin: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}